*{
    margin: 0px;
    padding: 0px;
    font-family: Inter,sans-serif;
}
header{
    height: 25px;
    font-size: 14px;
}
section{
    display: flex;
}
.s1{
    width: 6%;
    /* background-color: aquamarine; */
    border-right: 1px solid #eceef1;
}
.s1 img{
    padding-block: 20px;
    padding-inline: 5px;
}
.s1 ul{
    margin: 0px;
    padding-left: 0px;
    padding-inline: 5px;
}
.s1 ul li{
    height: 50px;
    width: 50px;
    margin-bottom: 8px;
    list-style: none;
    /* background-color: lightpink; */
}
.s1 ul li svg{
    width: 48px;
    height: 20px;
}


.s2{
    margin-left: 50px;
}
.q1{
    font-size: 24px;
    padding: 20px 0px;

}
.q2{
    display: flex;
    box-shadow: 0px 0px 10px #E7FCEF;
}
.q21{
    background-color: #E7FCEF;
    border-radius: 10px;
    padding: 20px 250px 20px 20px;
    /* font-weight: 100; */
}
.q22{
    height: 150px;
    width: 150px;
    padding-inline: 20px 5px;
}
.q22 svg{
    height: 100%;
    width: 100%;
}
.q3{
    margin-top: 25px;
    background-color: #F9FAFB;
    border: 1px solid #cdd8d1;
    border-radius: 10px;
    padding: 20px;
}
.q31 h1{
    font-size: 20px;
    margin: 0px;
    /* line-height: normal; */
}
.q32{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #8c9aac;
}
.q33{
    display: flex;
    font-size: 14px;
    gap: 20px;
    margin: 0px;
}
.q331 p{
    margin: 0px;
}
.q331 h4{
    font-size: 16px;
    margin: 0px;
}
.q332{
    border-left: 1px solid #c0c3c9;
    padding: 10px;
}
.q4{
    margin-top: 30px;
    font-size: 16px;
    padding: 10px 20px;
    background-color:#FFEFDA;
    border-radius: 5px;
    border: 1px solid #e1e2e4;
}

.s3{
    margin-left: 30px;
    width: 400px;
    background-color: #F4F6F9;
}
.w1{
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin: 20px 20px;
}
.w21 span a{
    text-decoration: none;
}
.w22 button{
    border: none;
    padding: 5px;
    color: white;
    background-color: #2F80ED;
    border-radius: 5px;
}
.w3{
    background-color: #2B2F34;
    margin: 20px 20px 0px 20px;
    height: 220px;
}











